* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: #1d1d20;
  border-bottom: #fff9fb 1px solid;

  min-width: 10%;
  max-width: 100%;
  height: 6vh;
  padding: 10px 20px 10px 20px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8%;

  position: relative;

  max-width: 45%;
  min-width: 10%;
  width: 45%;
}

.nav-bar a {
  color: #fff9fb;
}

.nav-bar hr {
  height: 20px;
}

.login-btn {
  padding: 10px 25px 10px 25px;

  background-color: #e8c547;
  border: none;
  border-radius: 5px;
}

/* Home */

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  background-color: #1d1d20;

  min-width: 0;
  max-width: 100vw;
  height: 90vh;
  padding: 0 0 0 50px;
}

.home img {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 45%;
}

.home-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 40%;

  color: #fff9fb;
}

.home-text h1 {
  font-size: 45px;
  font-weight: bold;
}

.home-text p {
  font-size: 25px;
  font-weight: 250;
}

.home-text a {
  margin-top: 40px;
  padding: 10px 25px 10px 25px;
  width: 18%;

  color: #1d1d20;
  background-color: #e8c547;
  border: none;
  border-radius: 5px;
}
