# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock

# React
build/
.cache/
public/static/
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Java & Spring
target/
*.class
*.jar
*.war
*.ear
*.log
*.log.*
*.classpath
*.project
*.settings/
*.metadata/
.spring-boot-devtools/


# IntelliJ IDEA
.idea/
*.iml
*.iws
out/
*.class
*.jar
*.war
*.ear

# VS Code
.vscode/
.history/

# Tailwind
*.css.map
*.js.map


# MySQL
*.sql
*.sql.gz
*.dump

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
*.swn
*.bak
*.orig


# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/sdks
!.yarn/versions
!.yarn/metadata
!.yarn/constraints

# Docker
Dockerfile
docker-compose.yml
.docker/
